html {
    font-size: 125%;
}

.wrapper {
    width: 95% ;
    max-width: 1200px ;
    margin: 0 auto;
    margin-left:auto;
    margin-right:auto;
}

img {
    
    height: auto;
    display: block;
}

li {
    list-style: none;
}