@use "./variables" as *;
@use "./setup";
@use "./global";
@use "./typography";
@use "./mixins" as *;
@use "./contact" as *;
@use "./nav" as *;

@media (max-width: 850px) {

    ul .fa-moon{
        visibility: visible;
    }
    .navContact {
        background-color: black;
        .hamburger {
            display: block;
            margin-bottom: 8px;
            align-items: center;
        }
        .hamburger.active .bar:nth-child(2){
            opacity: 0;
        }
        .hamburger.active .bar:nth-child(1){
            transform: translateY(8px) rotate(45deg);
        }
        .hamburger.active .bar:nth-child(3){
            transform: translateY(-8px) rotate(-45deg);
        }
    
        ul{ position: fixed;
            left: -100%;
            top:50px;
            gap:5px;
            flex-direction: column;
            background-color: black;
            width: 100%;
            text-align: center;
            transition: 0.3s;
            margin-top:0;
            padding-bottom:8px

        }
        ul.active{
            left:0;
            z-index: 40;
            position: absolute;
        }
        .wrapper {
            justify-content:space-between ;
            width: 80%;


          
        }
    }

    // .contact {
    //     .mobileIcons {
    //         display: flex;
    //         gap: 15px;
    //         width: 75px;
    //         visibility: visible;
    //         position: relative;
    //         left: 21px;
    //         top: -40px;
    //     }
    // }
 
        

    header.contact {
        .wrapper {
            width: 100%;
            .getInTouch {
            text-align: center;
        
        
            }
            nav {
                justify-content: center;

            }
            nav a .logo {
                color: white;
                font-family: $baseFont;
                z-index: 20;
                align-self: center;
                visibility: visible;
                margin-left: -40px;

            }
        }
    }
    .contactPage {
        flex-direction: column-reverse;
        height: 790px;


        .wrapper {
            display: flex;
            margin: 0;
            flex-direction: column-reverse;
            align-items: center;
            width: 100%;
            align-items:center ;

            form {
                position: static;
                width: 97%;
                margin: 0;
                box-shadow: none;


            }
        }
    }
    .contactInfo {
        justify-content:center ;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;

        
        
        
     
    }
  
}