@use "./variables" as *;
@use "./setup";
@use "./global";
@use "./typography";
@use "./mixins" as *;
@use "./contact" as *;
@use "./nav" as *;

@media (max-width: 850px) {
    .navContact {
        background-color: black;
        .wrapper {
            justify-content:center ;


            ul {
                display: none;
            }
        }
    }

    .contact {
        .mobileIcons {
            display: flex;
            gap: 20px;
            width: 85px;
            visibility: visible;
            position: relative;
            left: 20px;
            top: -42px;
        }
    }
 
        

    header.contact {
        .wrapper {
            width: 100%;
            .getInTouch {
            text-align: center;
        
        
            }
            nav {
                justify-content: center;

            }
            nav a .logo {
                color: white;
                font-family: $baseFont;
                z-index: 20;
                align-self: center;
                visibility: visible;
                margin-left: -40px;

            }
        }
    }
    .contactPage {
        flex-direction: column-reverse;
        height: 790px;


        .wrapper {
            display: flex;
            margin: 0;
            flex-direction: column-reverse;
            align-items: center;
            width: 100%;
            align-items:center ;

            form {
                position: static;
                width: 97%;
                margin: 0;
                box-shadow: none;


            }
        }
    }
    .contactInfo {
        justify-content:center ;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;

        
        
        
     
    }
  
}