@use "./variables" as *;
@use "./setup";
@use "./global";
@use "./typography";
@use "./mixins" as *;
@use "./contact" as *;
@use "./nav" as *;
@use "./blog" as *;

@media (max-width:1200px) {

    // .headerHome img{
    //     width: ;
    // }
    .whatIsPlanted{
        h2{
            font-size: 2.5rem;
        }
    }

    .homeBlog{
        gap: 75px;
    }

    .homeBlog .leftSide{
        h2, p {
            padding-left: 50px;
            text-align: right;
            gap: 15px;
            line-height: 1.5rem;

        }
    }
    .homeBlog .rightSide {
        h2, p {
            padding-right: 50px;
            text-align: left;
            gap: 15px;
            line-height: 1.5rem;

        }
    }
}

@media (max-width:997px){

    .headerHome{
        height: 100vh;
        min-height: 900px;
    }
    .headerHome .wrapper img
     {  justify-content: flex-start;
        width: 250px;
        position: relative;
        align-items: center;
        visibility: hidden;
    }
    .whatIsPlanted{
        padding: 0;
        .wrapper{
            padding: 10px 10px;
            width: 90%;
        }
    }
    .about .wrapper{

   
        .greenHousesBox, .communityBox, .blogBox, .getInTouchBox {
            display: flex;
            flex-direction: column;

            .title{
            display: flex;
            justify-content: center;
            margin-top: 20px;

            }
        }
    }



}
@media (max-width:757px){
    .hamburger {
        display: block;
        margin-top:10px;
        margin-left: 20px;
        align-items: center;

    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    



    ul .fa-moon{
        visibility: visible;
    }

    // .mobileIcons{
    //     z-index: 50;
    //     display: flex;
    //     width: 75px;
    //     position: relative;
    //     bottom: -10px;
    //     left: 20px;
    //     height: 0px;
    //     z-index: 40;
    //     visibility: visible;
    // }


    .headerHome {
        ul{ position: fixed;
            left: -100%;
            top:50px;
            gap:5px;
            flex-direction: column;
            background-color: transparent;
            width: 100%;
            text-align: center;
            transition: 0.3s;
            margin-top: 0;



        }
        ul.active{
            left:0;
            position: abs;

        }
        img {
            visibility: hidden;
        }
        .navHome{
            width: 100%;
            height: 50px;
            justify-content: space-between;
           
        }
        
        // li {
        //    display: none;
        // }
     
    }
    .headerHome{

        img{
            display: none;
        }
    }
    h1 {
        font-size: clamp(3.5rem, 4vh, 5rem);
    }

    .whatIsPlanted{
        padding: 0;
        .wrapper{
            padding: 10px 10px;
            width: 80%;
            h2 {
                font-size:clamp(2rem, 2vw, 2.5rem);
            }
        }
    }
    .homeBlog {
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 50px 0;
       

        img {
            width: 300px;
           
        }
     
        .leftSide{
            width: 98%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            font-size: 2rem;
            img {
                margin-top: -10px;

            }

            h2 {
                padding: 0;
                margin-top: 20px;
                text-align: center;
            }
            p {
                font-size: 1rem;
                padding: 0;
                text-align: center;
            }
            a {
                align-self: center;
                font-size: 1rem;
            }
        }
        .rightSide{
            width: 98%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top:20px;
            font-size: 2rem;

            img {
                order:1;
            }

            h2 {
                padding: 0;
                text-align: center;
                order: 2;
            }
            p {
                font-size: 1rem;
                padding: 0;
                text-align: center;
                order: 3;
            }
            a {
                align-self: center;
                font-size: 1rem;
                order: 4;
            }
    }


}

    main .about{
        .wrapper{
            flex-direction: column;
            justify-content: center;
            text-align: center;
            
            
        }
        .greenHousesBox, .communityBox, .blogBox, .getInTouchBox {
            display: flex;
            flex-direction: column;

            .title{
               display: flex;
               justify-content: center;
               margin-top: 20px;

            }
        }

    }
    .plantedFounder{
        .wrapper{
        flex-direction: column;
        }
        article{
            text-align: center;
            align-items: center;
            padding: 10px 0;
        }
    }
}

@media (max-width:500px) {


.wrapper {
    width: 98% ;
    max-width: 500px ;
    margin: 0 auto;
    
    .navHome{
        width: 100%;
        height: 50px;
        justify-content: center;
       
    }
  
  

}


    .headerHome {
       
        img {
            display: none;
        }
        
        li {
            display: none;
        }
        ul{
            align-content: center;
        }
           
     
    
        .headerText {
            h1 {
            font-size: 3.5rem;
            }
        }
        .wrapper{
            .headerTextYellow {
                margin-left: 53px;
            }
        }
    }
 
main {
    .whatIsPlanted{
  
        padding: 10px 10px;
        .wrapper {
            width: 98%;
        
            h2 {
                font-size: 2rem;
                text-align: center;
            }

        }   
        

    }



    .homeBlog {
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 50px 0;
       

        img {
            width: 300px;
           
        }
     
        .leftSide{
            width: 98%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px 5px;

            flex-direction: column;
            
            font-size: 2rem;

            h2 {
                padding: 0;
                margin-top: 20px;
                text-align: center;
            }
            p {
                font-size: 1rem;
                padding: 0;
                text-align: center;
            }
            a {
                align-self: center;
                font-size: 1rem;
            }
        }
        .rightSide{
            width: 98%;
            display: flex;
            padding: 5px 5px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top:20px;
            font-size: 2rem;

            img {
                order:1;
            }

            h2 {
                padding: 0;
                text-align: center;
                order: 2;
            }
            p {
                font-size: 1rem;
                padding: 0;
                text-align: center;
                order: 3;
            }
            a {
                align-self: center;
                font-size: 1rem;
                order: 4;
            }
    }


}
.about {
    padding: 50px 10px;

    .wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
        .greenHousesBox, .communityBox, .blogBox, .getInTouchBox {
            display: flex;
            justify-content: center;
            align-items: center;

            .title{
                display: flex;
                gap: 5px;
                align-items: center;
                justify-content:center ;
                margin-top: 20px;
            
          
            }
        
        }
    }
}

.imgBreak {
    visibility: hidden;
    height: 0px;

}
.plantedFounder {
    padding:50px 0px ;
    .wrapper {
        gap: 0px;
        display: flex;
        flex-direction: column;
        article {
            justify-content: center;
            align-items: center;
            padding:20px 0;
        }
    }

    img {
        width: 200px;
    }

}

.gallery{
    padding: 0;
   
    ul{
        padding: 0;
        display: flex;
        flex-direction: column;
        gap:0px;
    }
}

}
}


@media (max-width:390px) {
        .headerHome {
        .wrapper{
            .headerTextYellow {
                margin-left: 3px;
            }
        }
    }

    main {
        .homeBlog {
        }
    
        .about {
      

        .wrapper {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            
                .greenHousesBox, .communityBox, .blogBox, .getInTouchBox {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                   
        
                    .title{
                        display: flex;
                        gap: 5px;
                        align-items: center;
                        justify-content:center ;
                        margin-top: 20px;

                  
                }
        }
    }

   .plantedFounder {
    
   } 


   .gallery{
        padding: 0;
       
        ul{
            padding: 0;
            display: flex;
            flex-direction: column;
            gap:0px;
        }
      
          
  

   }
}
}
}

