$primaryFontColor: #2C2C2C
$secondaryFontColor:  
$accent: #0E902D;
$primaryBG: #F0EFED;
$secondaryBG:white;
$blogComments: #074115;
$baseFont: 'Josefin Sans', sans-serif;
$secondaryFont: 'Roboto', sans-serif;