$primaryFontColor: #2C2C2C;
$footerColor: #2C2C2C;
$navFontColor: white;
$hoverFontColor: #F8E71C;
$accent: #0E902D;
$primaryBG: #F0EFED;
$secondaryBG:white;
$blogComments: #074115;
$baseFont: 'Josefin Sans', sans-serif;
$secondaryFont: 'Roboto', sans-serif;
$focus:lightblue;