@use "partials/variables";
@use "partials/setup";
@use "partials/global";
@use "partials/typography";


.headerHome {
    background-image: url(/planted-final-assets/home-image-1.jpg);
    height: 100vh;

    nav {
        display: flex;
        justify-content: space-around;
        color: white;
    }

    ul{
        display: flex;
        list-style: none;
        text-decoration: none;
        gap: 15px;
    }

}