@use "partials/variables" as *;
@use "partials/setup";
@use "partials/global";
@use "partials/typography";


.headerHome {
    background-image: url(../planted-final-assets/home-image-1.jpg);
    background-size: cover;
    height: 100vh;

    .wrapper {
        margin: auto;
        width: 100%;
        height: 100%;
    }
    nav {
        display: flex;
        justify-content: flex-start;
        color: $navFontColor;
         
    }
    li {
        font-family: $baseFont;

    }
    h1 {
        padding-top: 10px;
        color: white;
        font-family: $baseFont;
        z-index: 20;


    }
    
    a  {
        color: $navFontColor;
        text-decoration: none;
        &:hover {
            color:$hoverFontColor;
        }
        
    }

    ul{
        display: flex;
        list-style: none;
        gap: 20px;
    }
    .headerText {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        margin-top: 300px;
        font-size: 3.5rem;
       
      }
    
    .headerTextYellow {
        color: $hoverFontColor;
      

    }

  
    img {
            width: 700px;
            position: absolute;
            right: 0;
            margin-top: -350px;
            z-index: 10;
         
        }

    
    }
 


.whatIsPlanted {
    background-color:$primaryBG ;
    display: flex;
    height: 70vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        width: 60%;

    }
    h2 {
        font-size: 4rem;
    }
    p {
        text-align: center;
        font-family: $secondaryFont;
        line-height: 1.5rem;
    }
    button {
        border: none;
        padding: 8px 15px;
        color: $navFontColor;
        background-color: $accent ;
        font-family: $baseFont;
    }
}





