html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

.wrapper {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

li {
  list-style: none;
}

h1, h2, h3, h4, p, a {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
}

.header {
  background-size: cover;
  position: relative;
  height: 100vh;
}
.header .wrapper {
  margin: auto;
  width: 100%;
  height: 100%;
}
.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
}
.header li {
  font-family: "Josefin Sans", sans-serif;
}
.header h1 {
  padding-top: 10px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  z-index: 20;
}
.header a {
  color: white;
  text-decoration: none;
}
.header a:hover {
  color: #F8E71C;
}
.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 20px;
}

.contact {
  background-image: url(../planted-final-assets/contact-header-1.jpg);
  background-size: cover;
  position: relative;
  height: 50vh;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact .wrapper {
  margin: auto;
  width: 100%;
  height: 100%;
}
.contact nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
}
.contact li {
  font-family: "Josefin Sans", sans-serif;
}
.contact h1 {
  padding-top: 10px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}
.contact .getInTouch {
  color: #F8E71C;
  font-size: 3rem;
  margin-top: 250px;
}
.contact a {
  color: white;
  text-decoration: none;
}
.contact a:hover {
  color: #F8E71C;
}
.contact a:focus {
  background-color: rgb(0, 174, 197);
}
.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 20px;
}
.contact span {
  display: block;
}

.contactPage {
  background-color: #F0EFED;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactPage .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: relative;
}
.contactPage .wrapper form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  background-color: white;
  -webkit-box-shadow: -20px 30px #F8E71C;
          box-shadow: -20px 30px #F8E71C;
  height: 48%;
  width: 58%;
  border: none;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 250px;
  margin-right: 80px;
}
.contactPage .wrapper fieldset {
  border: none;
}
.contactPage .wrapper fieldset input {
  margin-top: 40px;
  width: 48%;
  padding-bottom: 15px;
  background-color: white;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #0E902D;
  border-style: solid;
}
.contactPage .wrapper fieldset button {
  display: block;
  font-family: "Josefin Sans", sans-serif;
  background-color: #0E902D;
  border: none;
  width: 100%;
  padding: 10px 0;
  margin-top: 40px;
  color: white;
  text-decoration: none;
}
.contactPage .wrapper fieldset button:hover {
  color: #F8E71C;
}
.contactPage .wrapper fieldset button:focus {
  background-color: rgb(0, 174, 197);
}
.contactPage .wrapper fieldset textarea {
  border-color: #0E902D;
  display: block;
  margin-top: 40px;
  padding-top: 20px;
  padding-left: 15px;
  width: 100%;
  height: 200px;
  resize: none;
  background-color: white;
}

.contactInfo {
  margin-top: 150px;
}
.contactInfo ul {
  padding: 0 0;
  line-height: 1.5rem;
}

footer {
  background-color: #2C2C2C;
  color: white;
  text-align: center;
  padding: 10px;
}

.navBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
  background-color: black;
}
.navBlog .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navBlog ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.navBlog h1 {
  padding-top: 10px;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #F8E71C;
}
a:focus {
  background-color: rgb(0, 174, 197);
}

li {
  font-family: "Josefin Sans", sans-serif;
}

.blogHeader {
  background-image: url(../planted-final-assets/blog-header-1.jpg);
  height: 50vh;
  min-height: 300px;
}
.blogHeader .wrapper {
  width: 100%;
}
.blogHeader h1 {
  position: relative;
  top: 300px;
  left: 100px;
  font-size: 3rem;
  color: #F8E71C;
}
.blogHeader img {
  position: absolute;
  margin: 0px 0px;
  right: 0;
  top: 200px;
  width: 60%;
  -webkit-box-shadow: -20px 20px 0px #F8E71C;
          box-shadow: -20px 20px 0px #F8E71C;
}

.asideImg {
  width: 400px;
  position: relative;
  left: 0;
  top: 100px;
}

.blogMain {
  background-color: #F0EFED;
}
.blogMain .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

aside {
  background-color: white;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 20%;
  margin-left: 125px;
  margin-top: -220px;
  padding: 10px 10px;
}
aside a {
  color: #074115;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
aside a:hover {
  color: #0E902D;
}
aside a:focus {
  background-color: rgb(0, 174, 197);
}
aside p {
  margin-top: 10px;
}
aside li {
  list-style-type: "- ";
}

.articleBlog {
  padding-left: 20px;
  padding-top: 150px;
  margin-top: -450px;
  width: 64%;
  border-left: 5px solid #F8E71C;
  border-bottom: 5px solid #F8E71C;
}
.articleBlog p.date {
  margin-top: 0;
}
.articleBlog p {
  margin-top: 20px;
  padding-bottom: 20px;
  line-height: 1.5rem;
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 63%;
  margin-top: 20px;
  margin-left: 25px;
}

.firstComment {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 125px;
}
.firstComment img {
  position: absolute;
  width: 90px;
  left: 0;
}

.secondComment {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 125px;
}
.secondComment img {
  position: absolute;
  width: 90px;
  left: 0;
}

form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  background-color: #F0EFED;
  height: 48%;
  width: 65%;
  border: none;
  text-align: center;
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom: 50px;
}

fieldset {
  border: none;
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
}
fieldset input {
  margin-top: 40px;
  width: 48%;
  padding-bottom: 15px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #0E902D;
  border-style: solid;
  background-color: #F0EFED;
}
fieldset button {
  display: block;
  font-family: "Josefin Sans", sans-serif;
  background-color: #0E902D;
  border: none;
  width: 100%;
  padding: 10px 0;
  margin-top: 40px;
  color: white;
  text-decoration: none;
}
fieldset button:hover {
  color: #F8E71C;
}
fieldset button:focus {
  background-color: rgb(0, 174, 197);
}
fieldset textarea {
  border: 2px solid #0E902D;
  background-color: #F0EFED;
  display: block;
  margin-top: 40px;
  padding-top: 20px;
  padding-left: 15px;
  width: 100%;
  height: 200px;
  resize: none;
}

footer {
  background-color: #2C2C2C;
  color: white;
  text-align: center;
  padding: 10px;
}

@media (max-width: 500px) {
  .wrapper {
    width: 98%;
    max-width: 500px;
    margin: 0 auto;
  }
  .headerHome img {
    visibility: hidden;
  }
  .headerHome ul {
    visibility: hidden;
  }
  .headerHome .logo {
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    margin-left: 20px;
  }
  .headerHome .headerText h1 {
    font-size: 3.5rem;
  }
  .headerHome .wrapper .headerTextYellow {
    margin-left: 53px;
  }
  main .whatIsPlanted {
    height: 75vh;
    padding: 25px 25px;
  }
  main .whatIsPlanted .wrapper {
    width: 98%;
  }
  main .whatIsPlanted .wrapper h2 {
    font-size: 2rem;
  }
  main .homeBlog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
    height: 120vh;
  }
  main .homeBlog img {
    width: 300px;
  }
  main .homeBlog .leftSide {
    width: 98%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2rem;
  }
  main .homeBlog .leftSide h2 {
    padding: 0;
    margin-top: 20px;
    text-align: center;
  }
  main .homeBlog .leftSide p {
    font-size: 1rem;
    padding: 0;
    text-align: center;
  }
  main .homeBlog .leftSide a {
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 1rem;
  }
  main .homeBlog .rightSide {
    width: 98%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
    font-size: 2rem;
  }
  main .homeBlog .rightSide img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  main .homeBlog .rightSide h2 {
    padding: 0;
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  main .homeBlog .rightSide p {
    font-size: 1rem;
    padding: 0;
    text-align: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  main .homeBlog .rightSide a {
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 1rem;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  main .about {
    height: 110vh;
    padding: 50px 10px;
  }
  main .about .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .about .wrapper .greenHousesBox, main .about .wrapper .communityBox, main .about .wrapper .blogBox, main .about .wrapper .getInTouchBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  main .about .wrapper .greenHousesBox img, main .about .wrapper .communityBox img, main .about .wrapper .blogBox img, main .about .wrapper .getInTouchBox img {
    position: absolute;
    left: 130px;
    right: 0;
  }
  main .about .wrapper .greenHousesBox .blogIcon, main .about .wrapper .communityBox .blogIcon, main .about .wrapper .blogBox .blogIcon, main .about .wrapper .getInTouchBox .blogIcon {
    position: absolute;
    left: 170px;
  }
  main .imgBreak {
    height: 100%;
  }
  main .plantedFounder {
    height: 75vh;
  }
  main .plantedFounder .wrapper {
    gap: 0px;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .plantedFounder .wrapper article {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .plantedFounder img {
    width: 200px;
  }
  main .gallery {
    padding: 0px;
  }
  main .gallery ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0px;
  }
  main .gallery img {
    width: 100px;
  }
}
.headerHome {
  background-image: url(../planted-final-assets/home-image-1.jpg);
  background-size: cover;
  position: relative;
  height: 100vh;
  min-height: 900px;
}
.headerHome .wrapper {
  margin: auto;
  width: 100%;
  height: 100%;
}
.headerHome img {
  width: 700px;
  position: absolute;
  right: 0;
  top: 350px;
  z-index: 10;
}
.headerHome nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
}
.headerHome li {
  font-family: "Josefin Sans", sans-serif;
}
.headerHome .logo {
  padding-top: 10px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  z-index: 20;
}
.headerHome a {
  color: white;
  text-decoration: none;
}
.headerHome a:hover {
  color: #F8E71C;
}
.headerHome a:focus {
  background-color: rgb(0, 174, 197);
}
.headerHome ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 20px;
}
.headerHome .headerText {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  margin-top: 300px;
  font-size: 3.5rem;
}
.headerHome h1 {
  z-index: 20;
  color: white;
}
.headerHome .headerTextYellow {
  color: #F8E71C;
  margin-left: 130px;
  z-index: 20;
}

.whatIsPlanted {
  background-color: #F0EFED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 700px;
  padding: 50px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.whatIsPlanted .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  width: 60%;
}
.whatIsPlanted h2 {
  font-size: 4rem;
}
.whatIsPlanted p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  line-height: 1.5rem;
}
.whatIsPlanted a {
  border: none;
  padding: 8px 20px;
  color: white;
  background-color: #0E902D;
  font-family: "Josefin Sans", sans-serif;
}
.whatIsPlanted a:hover {
  color: #F8E71C;
}
.whatIsPlanted a:focus {
  background-color: rgb(0, 174, 197);
}

.homeBlog {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 200px;
  height: 900px;
}
.homeBlog .wrapper {
  width: 100%;
}
.homeBlog a {
  border: none;
  padding: 8px 20px;
  color: white;
  background-color: #0E902D;
  font-family: "Josefin Sans", sans-serif;
  width: 150px;
}
.homeBlog a:hover {
  color: #F8E71C;
}
.homeBlog a:focus {
  background-color: rgb(0, 174, 197);
}
.homeBlog .leftSide, .homeBlog .rightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.homeBlog .leftSide h2, .homeBlog .rightSide h2 {
  font-size: 2rem;
}
.homeBlog .rightSide {
  margin-top: 200px;
}
.homeBlog .rightSide img {
  -webkit-box-shadow: -20px 20px 0px #F8E71C;
          box-shadow: -20px 20px 0px #F8E71C;
  margin-top: 50px;
}
.homeBlog .leftSide {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.homeBlog .leftSide h2 {
  margin-top: 100px;
}
.homeBlog .leftSide h2, .homeBlog .leftSide p {
  padding-left: 250px;
  text-align: right;
  gap: 25px;
  line-height: 1.5rem;
}
.homeBlog .leftSide a {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.homeBlog .leftSide img {
  margin-top: -50px;
  -webkit-box-shadow: 20px 20px 0px #F8E71C;
          box-shadow: 20px 20px 0px #F8E71C;
}

.about {
  background-color: #F0EFED;
  height: 600px;
  padding-top: 150px;
  padding-bottom: 100px;
}
.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about .wrapper .greenHousesBox, .about .wrapper .communityBox, .about .wrapper .blogBox, .about .wrapper .getInTouchBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  line-height: 1.5rem;
  gap: 20px;
  position: relative;
}
.about .wrapper .greenHousesBox h3, .about .wrapper .communityBox h3, .about .wrapper .blogBox h3, .about .wrapper .getInTouchBox h3 {
  margin-top: 25px;
}
.about .wrapper .greenHousesBox img, .about .wrapper .communityBox img, .about .wrapper .blogBox img, .about .wrapper .getInTouchBox img {
  width: 25px;
  position: absolute;
  left: -35px;
  top: 25px;
  background-color: #F8E71C;
  border-radius: 50%;
}

.imgbreak {
  width: 100px;
  height: auto;
}
.imgbreak img {
  width: 100px;
}

.plantedFounder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F0EFED;
  height: 500px;
}
.plantedFounder .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.plantedFounder .homeArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  gap: 20px;
}
.plantedFounder img {
  width: 300px;
  -webkit-box-shadow: 20px 20px 0px #F8E71C;
          box-shadow: 20px 20px 0px #F8E71C;
}
.plantedFounder a {
  border: none;
  width: 180px;
  padding: 8px 20px;
  color: white;
  background-color: #0E902D;
  font-family: "Josefin Sans", sans-serif;
}
.plantedFounder a:hover {
  color: #F8E71C;
}
.plantedFounder a:focus {
  background-color: rgb(0, 174, 197);
}

.gallery {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.gallery li {
  text-decoration: none;
  list-style: none;
}

.homeFooter {
  background-color: #2C2C2C;
  color: white;
  text-align: center;
  padding: 10px;
}