@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

.wrapper {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

li {
  list-style: none;
}

h1, h2, h3, h4, p, a {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
}

.headerHome {
  background-image: url(../planted-final-assets/home-image-1.jpg);
  background-size: cover;
  position: relative;
  height: 100vh;
  min-height: 700px;
}
.headerHome .wrapper {
  margin: auto;
  width: 80%;
  height: 100%;
}
.headerHome img {
  width: 700px;
  position: absolute;
  right: 0;
  top: 350px;
  z-index: 10;
}
.headerHome nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
}
.headerHome li {
  font-family: "Josefin Sans", sans-serif;
}
.headerHome .logo {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  z-index: 20;
  -ms-flex-item-align: center;
      align-self: center;
}
.headerHome a {
  color: white;
  text-decoration: none;
}
.headerHome a:hover {
  color: #F8E71C;
}
.headerHome a:focus {
  background-color: rgb(0, 174, 197);
}
.headerHome ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 20px;
}
.headerHome .headerText {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  margin-top: 300px;
  font-size: 3.5rem;
}
.headerHome h1 {
  z-index: 20;
  color: white;
  -ms-flex-item-align: center;
      align-self: center;
}
.headerHome span {
  color: #F8E71C;
  display: block;
}
.headerHome .headerTextYellow {
  color: #F8E71C;
  margin-left: 130px;
  z-index: 20;
}

.whatIsPlanted {
  background-color: #F0EFED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 700px;
  padding: 50px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.whatIsPlanted .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  width: 60%;
}
.whatIsPlanted h2 {
  font-size: 4rem;
}
.whatIsPlanted p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  line-height: 1.5rem;
}
.whatIsPlanted a {
  border: none;
  padding: 8px 20px;
  color: white;
  background-color: #0E902D;
  font-family: "Josefin Sans", sans-serif;
}
.whatIsPlanted a:hover {
  color: #F8E71C;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.whatIsPlanted a:focus {
  background-color: rgb(0, 174, 197);
}

.homeBlog {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 200px;
  min-height: 700px;
}
.homeBlog .wrapper {
  width: 100%;
}
.homeBlog a {
  border: none;
  padding: 8px 20px;
  color: white;
  background-color: #0E902D;
  font-family: "Josefin Sans", sans-serif;
  width: 150px;
}
.homeBlog a:hover {
  color: #F8E71C;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.homeBlog a:focus {
  background-color: rgb(0, 174, 197);
}
.homeBlog .leftSide, .homeBlog .rightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.homeBlog .leftSide h2, .homeBlog .rightSide h2 {
  font-size: 2rem;
}
.homeBlog .rightSide {
  margin-top: 200px;
}
.homeBlog .rightSide h2, .homeBlog .rightSide p {
  padding-right: 200px;
}
.homeBlog .rightSide img {
  -webkit-box-shadow: -20px 20px 0px #F8E71C;
          box-shadow: -20px 20px 0px #F8E71C;
  margin-top: 50px;
}
.homeBlog .leftSide {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.homeBlog .leftSide h2 {
  margin-top: 100px;
}
.homeBlog .leftSide h2, .homeBlog .leftSide p {
  padding-left: 200px;
  text-align: right;
  gap: 25px;
  line-height: 1.5rem;
}
.homeBlog .leftSide a {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.homeBlog .leftSide img {
  margin-top: -50px;
  -webkit-box-shadow: 20px 20px 0px #F8E71C;
          box-shadow: 20px 20px 0px #F8E71C;
}

.about {
  background-color: #F0EFED;
  min-height: 600px;
  padding-top: 150px;
  padding-bottom: 100px;
}
.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about .wrapper .iconHome {
  width: 40px;
  border-radius: 50%;
  background-color: #F8E71C;
}
.about .wrapper .greenHousesBox, .about .wrapper .communityBox, .about .wrapper .blogBox, .about .wrapper .getInTouchBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  line-height: 1.5rem;
  gap: 20px;
}
.about .wrapper .greenHousesBox .title, .about .wrapper .communityBox .title, .about .wrapper .blogBox .title, .about .wrapper .getInTouchBox .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.about .wrapper .greenHousesBox .title h3, .about .wrapper .communityBox .title h3, .about .wrapper .blogBox .title h3, .about .wrapper .getInTouchBox .title h3 {
  -ms-flex-item-align: center;
      align-self: center;
}
.about .wrapper .greenHousesBox .title img, .about .wrapper .communityBox .title img, .about .wrapper .blogBox .title img, .about .wrapper .getInTouchBox .title img {
  -ms-flex-item-align: center;
      align-self: center;
  padding: 10px;
}

.imgbreak {
  width: 100px;
  height: auto;
}
.imgbreak img {
  width: 100px;
}

.plantedFounder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F0EFED;
  min-height: 500px;
}
.plantedFounder .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.plantedFounder .homeArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  gap: 20px;
}
.plantedFounder img {
  width: 300px;
  -webkit-box-shadow: 20px 20px 0px #F8E71C;
          box-shadow: 20px 20px 0px #F8E71C;
}
.plantedFounder a {
  border: none;
  width: 180px;
  padding: 8px 20px;
  color: white;
  background-color: #0E902D;
  font-family: "Josefin Sans", sans-serif;
}
.plantedFounder a:hover {
  color: #F8E71C;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.plantedFounder a:focus {
  background-color: rgb(0, 174, 197);
}

.gallery {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.gallery li {
  text-decoration: none;
  list-style: none;
}

.homeFooter {
  background-color: #2C2C2C;
  color: white;
  text-align: center;
  padding: 10px;
}

.header {
  background-size: cover;
  position: relative;
  height: 100vh;
}
.header .wrapper {
  margin: auto;
  width: 100%;
  height: 100%;
}
.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
}
.header li {
  font-family: "Josefin Sans", sans-serif;
}
.header h1 {
  padding-top: 10px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  z-index: 20;
}
.header a {
  color: white;
  text-decoration: none;
}
.header a:hover {
  color: #F8E71C;
}
.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 20px;
}

.mobileIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  width: 75px;
  display: none;
}

.navContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
  height: 50px;
  background: black;
}
.navContact .wrapper {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navContact .wrapper .logo {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  z-index: 20;
  -ms-flex-item-align: center;
      align-self: center;
}
.navContact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li {
  font-family: "Josefin Sans", sans-serif;
}

.contact {
  background-image: url(../planted-final-assets/contact-header-1.jpg);
  background-size: cover;
  position: relative;
  height: 50vh;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1 {
  padding-top: 10px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

.contact {
  background-image: url(../planted-final-assets/contact-header-1.jpg);
  background-size: cover;
  position: relative;
  height: 50vh;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.getInTouch {
  color: #F8E71C;
  font-size: 3rem;
  margin-top: 250px;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #F8E71C;
}
a:focus {
  background-color: rgb(0, 174, 197);
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 20px;
}

span {
  display: block;
}

.contactPage {
  background-color: #F0EFED;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactPage .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: relative;
}
.contactPage .wrapper form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  background-color: white;
  -webkit-box-shadow: -20px 30px #F8E71C;
          box-shadow: -20px 30px #F8E71C;
  width: 58%;
  border: none;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 250px;
  margin-right: 80px;
}
.contactPage .wrapper fieldset {
  border: none;
}
.contactPage .wrapper fieldset input {
  margin-top: 40px;
  width: 48%;
  padding-bottom: 15px;
  background-color: white;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #0E902D;
  border-style: solid;
}
.contactPage .wrapper fieldset button {
  display: block;
  font-family: "Josefin Sans", sans-serif;
  background-color: #0E902D;
  border: none;
  width: 100%;
  padding: 10px 0;
  margin-top: 13px;
  color: white;
  text-decoration: none;
}
.contactPage .wrapper fieldset button:hover {
  color: #F8E71C;
}
.contactPage .wrapper fieldset button:focus {
  background-color: rgb(0, 174, 197);
}
.contactPage .wrapper fieldset textarea {
  border-color: #0E902D;
  display: block;
  margin-top: 40px;
  padding-top: 20px;
  padding-left: 15px;
  width: 100%;
  height: 200px;
  resize: none;
  background-color: white;
}

.contactInfo {
  margin-top: 100px;
  margin-bottom: 20px;
}
.contactInfo ul {
  padding: 0 0;
  line-height: 1.5rem;
  display: block;
}
.contactInfo ul li {
  font-family: "Roboto", sans-serif;
  color: black;
}
.contactInfo .socialIconContact ul {
  width: 100%;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.contactInfo .socialIconContact ul img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.contactInfo .socialIconContact ul img:hover :focus {
  background-color: #F8E71C;
}
.contactInfo h2 {
  color: black;
}

footer {
  background-color: #2C2C2C;
  color: white;
  text-align: center;
  padding: 10px;
}

.navBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
  background-color: black;
  z-index: 10;
}
.navBlog .logo {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  z-index: 20;
  -ms-flex-item-align: center;
      align-self: center;
}
.navBlog .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navBlog .mobileIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 40;
  width: 100%;
  visibility: collapse;
  width: 0;
}
.navBlog ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #F8E71C;
}
a:focus {
  background-color: rgb(0, 174, 197);
}
li {
  font-family: "Josefin Sans", sans-serif;
}

.blogHeader {
  background-image: url(../planted-final-assets/blog-header-1.jpg);
  min-height: 400px;
}
.blogHeader .wrapper {
  height: 100%;
}
.blogHeader .wrapper .mobileIcons {
  width: 50px;
  visibility: hidden;
}
.blogHeader h1 {
  position: relative;
  top: 200px;
  font-size: 3rem;
  color: #F8E71C;
}

.asideImg {
  width: 100%;
  margin-top: -15px;
}

.blogMain {
  background-color: #F0EFED;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imgAside {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: center;
     object-fit: center;
  width: 115%;
  z-index: 20;
  padding-bottom: 20px;
  position: relative;
  left: -46px;
}

aside {
  margin-top: 100px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30%;
}
aside .asideContent {
  padding-top: 40px;
  background-color: white;
  font-size: clamp(0.8rem, 2vw, 1rem);
  left: 20px;
  top: -22px;
  position: absolute;
  padding-top: 0px;
  z-index: 10;
  padding-left: 25px;
  padding-right: 20px;
  line-height: 1.5rem;
}
aside a {
  color: #074115;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
aside a:hover {
  color: #0E902D;
}
aside a:focus {
  background-color: rgb(0, 174, 197);
}
aside p {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
}
aside ul {
  padding: 0;
  gap: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
aside li {
  font-family: "Roboto", sans-serif;
}
aside li:before {
  content: "•";
  color: #074115;
  padding-right: 20px;
}

.blogArticle {
  width: 60%;
  position: relative;
  top: -200px;
}
.blogArticle .imgBlog {
  -webkit-box-shadow: -20px 20px 0px #F8E71C;
          box-shadow: -20px 20px 0px #F8E71C;
  margin-left: 20px;
}

.articleBlog {
  border-left: 5px solid #F8E71C;
  border-bottom: 5px solid #F8E71C;
  padding-top: 50px;
  padding-left: 50px;
  margin-right: 100px;
  padding-bottom: 20px;
}
.articleBlog h2 {
  font-size: clamp(1rem, 2vw, 3.5rem);
}
.articleBlog p.date {
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #074115;
  font-weight: 400;
  font-size: clamp(0.8rem, 2vw, 1rem);
}
.articleBlog p.date span {
  font-weight: 700;
}
.articleBlog p {
  padding-bottom: 20px;
  line-height: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin-top: 20px;
  margin-left: 25px;
  font-size: clamp(0.8rem, 2vw, 1rem);
}
.comments p {
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}
.comments h3 {
  color: #074115;
}

.firstComment {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 125px;
}
.firstComment img {
  position: absolute;
  width: 90px;
  left: 0;
}

.secondComment {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 125px;
}
.secondComment img {
  position: absolute;
  width: 90px;
  left: 0;
}

form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  background-color: #F0EFED;
  width: 90%;
  border: none;
  text-align: center;
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom: 50px;
}

fieldset {
  border: none;
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
}
fieldset input {
  margin-top: 40px;
  width: 48%;
  padding-bottom: 15px;
  border-radius: 2px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #0E902D;
  border-style: solid;
  background-color: #F0EFED;
}
fieldset button {
  display: block;
  font-family: "Josefin Sans", sans-serif;
  background-color: #0E902D;
  border: none;
  width: 100%;
  padding: 10px 0;
  margin-top: 40px;
  color: white;
  text-decoration: none;
}
fieldset button:hover {
  color: #F8E71C;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
fieldset button:focus {
  background-color: rgb(0, 174, 197);
}
fieldset textarea {
  border: 2px solid #0E902D;
  background-color: #F0EFED;
  display: block;
  margin-top: 40px;
  padding-top: 20px;
  padding-left: 15px;
  width: 100%;
  height: 200px;
  resize: none;
}

footer {
  background-color: #2C2C2C;
  color: white;
  text-align: center;
  padding: 10px;
}

@media (max-width: 1200px) {
  .whatIsPlanted h2 {
    font-size: 2.5rem;
  }
  .homeBlog {
    gap: 75px;
  }
  .homeBlog .leftSide h2, .homeBlog .leftSide p {
    padding-left: 50px;
    text-align: right;
    gap: 15px;
    line-height: 1.5rem;
  }
  .homeBlog .rightSide h2, .homeBlog .rightSide p {
    padding-right: 50px;
    text-align: left;
    gap: 15px;
    line-height: 1.5rem;
  }
}
@media (max-width: 997px) {
  .headerHome .wrapper img {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 250px;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    visibility: hidden;
  }
  .whatIsPlanted {
    padding: 0;
  }
  .whatIsPlanted .wrapper {
    padding: 10px 10px;
    width: 90%;
  }
  .about .wrapper .greenHousesBox, .about .wrapper .communityBox, .about .wrapper .blogBox, .about .wrapper .getInTouchBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .wrapper .greenHousesBox .title, .about .wrapper .communityBox .title, .about .wrapper .blogBox .title, .about .wrapper .getInTouchBox .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
}
@media (max-width: 757px) {
  .mobileIcons {
    z-index: 50;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 75px;
    position: relative;
    bottom: -10px;
    left: 20px;
    height: 0px;
    z-index: 40;
    visibility: visible;
  }
  .headerHome img {
    visibility: hidden;
  }
  .headerHome .navHome {
    width: 100%;
    height: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .headerHome ul {
    display: none;
  }
  .headerHome img {
    display: none;
  }
  h1 {
    font-size: clamp(3.5rem, 4vh, 5rem);
  }
  .whatIsPlanted {
    padding: 0;
  }
  .whatIsPlanted .wrapper {
    padding: 10px 10px;
    width: 80%;
  }
  .whatIsPlanted .wrapper h2 {
    font-size: 2.5rem;
  }
  .homeBlog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
    padding: 50px 0;
  }
  .homeBlog img {
    width: 300px;
  }
  .homeBlog .leftSide {
    width: 98%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2rem;
  }
  .homeBlog .leftSide img {
    margin-top: -10px;
  }
  .homeBlog .leftSide h2 {
    padding: 0;
    margin-top: 20px;
    text-align: center;
  }
  .homeBlog .leftSide p {
    font-size: 1rem;
    padding: 0;
    text-align: center;
  }
  .homeBlog .leftSide a {
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 1rem;
  }
  .homeBlog .rightSide {
    width: 98%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
    font-size: 2rem;
  }
  .homeBlog .rightSide img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .homeBlog .rightSide h2 {
    padding: 0;
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .homeBlog .rightSide p {
    font-size: 1rem;
    padding: 0;
    text-align: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .homeBlog .rightSide a {
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 1rem;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  main .about .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  main .about .greenHousesBox, main .about .communityBox, main .about .blogBox, main .about .getInTouchBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .about .greenHousesBox .title, main .about .communityBox .title, main .about .blogBox .title, main .about .getInTouchBox .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
  .plantedFounder .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .plantedFounder article {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0;
  }
}
@media (max-width: 500px) {
  .wrapper {
    width: 98%;
    max-width: 500px;
    margin: 0 auto;
  }
  .wrapper .navHome {
    width: 100%;
    height: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .headerHome img {
    display: none;
  }
  .headerHome ul {
    display: none;
  }
  .headerHome ul .headerText h1 {
    font-size: 3.5rem;
  }
  .headerHome ul .wrapper .headerTextYellow {
    margin-left: 53px;
  }
  main .whatIsPlanted {
    padding: 10px 10px;
  }
  main .whatIsPlanted .wrapper {
    width: 98%;
  }
  main .whatIsPlanted .wrapper h2 {
    font-size: 2rem;
    text-align: center;
  }
  main .homeBlog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
    padding: 50px 0;
  }
  main .homeBlog img {
    width: 300px;
  }
  main .homeBlog .leftSide {
    width: 98%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2rem;
  }
  main .homeBlog .leftSide h2 {
    padding: 0;
    margin-top: 20px;
    text-align: center;
  }
  main .homeBlog .leftSide p {
    font-size: 1rem;
    padding: 0;
    text-align: center;
  }
  main .homeBlog .leftSide a {
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 1rem;
  }
  main .homeBlog .rightSide {
    width: 98%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
    font-size: 2rem;
  }
  main .homeBlog .rightSide img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  main .homeBlog .rightSide h2 {
    padding: 0;
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  main .homeBlog .rightSide p {
    font-size: 1rem;
    padding: 0;
    text-align: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  main .homeBlog .rightSide a {
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 1rem;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  main .about {
    padding: 50px 10px;
  }
  main .about .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .about .wrapper .greenHousesBox, main .about .wrapper .communityBox, main .about .wrapper .blogBox, main .about .wrapper .getInTouchBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .about .wrapper .greenHousesBox .title, main .about .wrapper .communityBox .title, main .about .wrapper .blogBox .title, main .about .wrapper .getInTouchBox .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
  main .imgBreak {
    visibility: hidden;
    height: 0px;
  }
  main .plantedFounder {
    padding: 50px 0px;
  }
  main .plantedFounder .wrapper {
    gap: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .plantedFounder .wrapper article {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0;
  }
  main .plantedFounder img {
    width: 200px;
  }
  main .gallery {
    padding: 0;
  }
  main .gallery ul {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
  }
}
@media (max-width: 390px) {
  .headerHome .wrapper .headerTextYellow {
    margin-left: 3px;
  }
  main .about .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .about .wrapper .greenHousesBox, main .about .wrapper .communityBox, main .about .wrapper .blogBox, main .about .wrapper .getInTouchBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .about .wrapper .greenHousesBox .title, main .about .wrapper .communityBox .title, main .about .wrapper .blogBox .title, main .about .wrapper .getInTouchBox .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
  main .about .gallery {
    padding: 0;
  }
  main .about .gallery ul {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
  }
}
@media (max-width: 997px) {
  .blogHeader h1 {
    margin-left: 50px;
  }
  .articleBlog {
    margin-right: 40px;
  }
  .comments {
    width: 90%;
  }
}
@media (max-width: 850px) {
  .navBlog {
    height: 63px;
  }
  .navBlog .wrapper {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navBlog #homeButton {
    visibility: visible;
    text-align: center;
  }
  .navBlog #homeButton :focus {
    color: lightblue;
    opacity: 20;
  }
  .navBlog h2 {
    text-align: center;
  }
  .navBlog ul {
    display: none;
    width: 0;
    padding: 0;
  }
  .blogHeader .wrapper .mobileIcons {
    width: 75px;
    visibility: visible;
    position: relative;
    top: -40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
  }
  .blogHeader .blogTitle {
    width: 100%;
    margin: 0;
  }
  .blogHeader h1 {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blogMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogArticle {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: -70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .blogArticle .imgBlog {
    width: 65%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .blogArticle .imgBlog img {
    -webkit-box-shadow: -10px 10px #F8E71C;
            box-shadow: -10px 10px #F8E71C;
  }
  .blogArticle .articleBlog {
    border: none;
    border-bottom: 5px solid #F8E71C;
    width: 100%;
    margin: 0;
    padding: 25px 15px;
  }
  .blogArticle .comments img {
    width: clamp(4rem, 2vw, 0.8rem);
  }
  .blogArticle .firstComment, .blogArticle .secondComment {
    padding-left: 90px;
  }
  aside {
    position: static;
    margin: 0;
    width: 98%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
  }
  aside .asideContent {
    position: relative;
    top: -90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 10px;
    margin-top: -10;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    width: 100%;
    right: 0;
    left: 0;
  }
  aside .asideContent h3 {
    font-size: clamp(1.3rem, 2vh, 1rem);
  }
  aside .asideContent .imgAside {
    width: 65%;
    position: static;
    margin-bottom: 30px;
  }
  aside .asideContent .asideImg {
    -webkit-box-shadow: -10px 10px #F8E71C;
            box-shadow: -10px 10px #F8E71C;
  }
  aside .asideContent ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  aside .asideContent li {
    width: calc(50% - 20px);
    margin-left: 20px;
  }
  aside .asideContent li:before {
    content: "•";
    color: #074115;
    padding-right: 10px;
  }
}
@media (max-width: 850px) {
  .navContact {
    background-color: black;
  }
  .navContact .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navContact .wrapper ul {
    display: none;
  }
  .contact .mobileIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    width: 85px;
    visibility: visible;
    position: relative;
    left: 20px;
    top: -42px;
  }
  header.contact .wrapper {
    width: 100%;
  }
  header.contact .wrapper .getInTouch {
    text-align: center;
  }
  header.contact .wrapper nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header.contact .wrapper nav a .logo {
    color: white;
    font-family: "Josefin Sans", sans-serif;
    z-index: 20;
    -ms-flex-item-align: center;
        align-self: center;
    visibility: visible;
    margin-left: -40px;
  }
  .contactPage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 790px;
  }
  .contactPage .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    align-items: center;
  }
  .contactPage .wrapper form {
    position: static;
    width: 97%;
    margin: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .contactInfo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
  }
}